<h1>Recorded logs</h1>

<%= javascript_include_tag 'json2' %>
<%= javascript_include_tag 'map' %>
<script type="text/javascript">
  <!--
  // Global variables
  var map;
  var MAX_X = 800, MAX_Y = 640;

  window.onload = function () {
    var canvas = $('canvas');
    map = new Map('<%= compute_public_path(@map.image.url, '') %>',
        canvas,
        MAX_X,
        MAX_Y,
        0, 0,
        0, 0,
        0, 0);
    map.drawStatic(function() {
    <%- @wifi_logs.each do |wifi_log| -%>
      map.drawWifiLog(<%= wifi_log.movement_log.manual_location.x %>,
        <%= wifi_log.movement_log.manual_location.y %>,
        <%= wifi_log.signal %>);
    <%- end -%>
    });
  };
-->
</script>
<canvas id="canvas" width="500" height="300"></canvas>
<div id="wifi_access_points">
<%- @wifi_access_points.each do |wifi_ap| -%>
  <%= link_to("#{wifi_ap.ssid} (#{wifi_ap.mac})", url_for(:controller => "wifi_logs", :action => "index", :map_id => @map.id, :wifi_access_point_id => wifi_ap.id)) %><br/>
<%- end -%>
<%= link_to 'Back', maps_path %>
</div>
